#oldbrowser {
    height: 250px;
    background: #1D2029 url(images/bg.jpg) repeat-x left bottom;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
    position: relative;
    width:expression(document.body.clientWidth < 960? "960px": "auto");
    z-index: 100;
}
#oldbrowser .oldbrowser-close {
    width: 27px;
    height: 28px;
    position: absolute;
    right: 20px;
    top: 20px;
}
#oldbrowser .oldbrowser-close a:link,
#oldbrowser .oldbrowser-close a:active,
#oldbrowser .oldbrowser-close a:visited,
#oldbrowser .oldbrowser-close a:hover {
    width: 27px;
    height: 28px;
    line-height: 28px;
    display: block;
    background: url(images/close.gif) no-repeat top left;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0;
}
#oldbrowser .oldbrowser-close a:hover {
    background-position: bottom left;
}
#oldbrowser .oldbrowser-video {
    position: absolute;
    top: 25px;
    right: 80px;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    border: none;
    margin: 0;
    padding: 0;
}
#oldbrowser .oldbrowser-video a:link,
#oldbrowser .oldbrowser-video a:active,
#oldbrowser .oldbrowser-video a:visited,
#oldbrowser .oldbrowser-video a:hover {
    color: #00ccff;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
#oldbrowser .oldbrowser-video a span {
    display: block;
    width: 64px;
    height: 39px;
    background: url(images/video.gif) no-repeat 0px 3px;
    position: absolute;
    top: -3px;
    left: -80px;
    cursor: pointer;
    padding: 0 0 3px 0;
}
#oldbrowser .oldbrowser-title {
    font-size: 18px;
    color: #fff;
    margin: 20px 0 0 25px;
    line-height: 28px;
}
#oldbrowser table.oldbrowser-icons-table {
    width: 100%;
    font-size: 18px;
    margin: 20px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-collapse: separate;
}
#oldbrowser table.oldbrowser-icons-table td,
#oldbrowser table.oldbrowser-icons-table tr {
    border: 0;
}
#oldbrowser table.oldbrowser-icons-table a:link,
#oldbrowser table.oldbrowser-icons-table a:active,
#oldbrowser table.oldbrowser-icons-table a:visited,
#oldbrowser table.oldbrowser-icons-table a:hover {
    color: #fff;
    border: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;

}

#oldbrowser table.oldbrowser-icons-table td,
#oldbrowser table.oldbrowser-icons-table td:hover {
  background:transparent !important;
}

#oldbrowser table.oldbrowser-icons-table a:hover {
    
}
#oldbrowser table.oldbrowser-icons-table td {
    text-align: center;
    width: 20%;
}
#oldbrowser .oldbrowser-icons {
    display: block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    margin: 0 auto;
    padding: 0;
}
#oldbrowser .oldbrowser-icons-text {
    display: block;
    width: 100%;
    padding: 10px 0 0 0;
    margin: 0;
}
#oldbrowser .oldbrowser-icon-chrome {
    background-image: url(images/chrome.png) !important;
    //background-image: none;
    //filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sites/all/modules/oldbrowser/images/chrome.png', sizingMethod='scale');
}
#oldbrowser .oldbrowser-icon-safari {
    background-image: url(images/safari.png) !important;
    //background-image: none;
    //filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sites/all/modules/oldbrowser/images/safari.png', sizingMethod='scale');
}
#oldbrowser .oldbrowser-icon-firefox {
    background-image: url(images/firefox.png) !important;
    //background-image: none;
    //filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sites/all/modules/oldbrowser/images/firefox.png', sizingMethod='scale');
}
#oldbrowser .oldbrowser-icon-opera {
    background-image: url(images/opera.png) !important;
    //background-image: none;
    //filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sites/all/modules/oldbrowser/images/opera.png', sizingMethod='scale');
}
#oldbrowser .oldbrowser-icon-explorer {
    background-image: url(images/explorer.png) !important;
    //background-image: none;
    //filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sites/all/modules/oldbrowser/images/explorer.png', sizingMethod='scale');
}
