.clear-both{
  clear: both;
}
/* logout menu block*/
#block-menu-menu-header-menu-logout {
  float: left;
  margin-left: -60px;
  padding-top: 10px;
  width: 50px;
}

#block-menu-menu-header-menu-logout ul li {
    display: inline-block;
    list-style: none outside none;
    padding-top: 5px;
    text-align: center;
}
/* logout menu block*/
/* People and Labs section */
.page-people-labs .profile-teaser .user-profile-research-areas .field-label{
  font-weight: normal;
  color: #666666;
}

.page-people-labs .profile-teaser .user-profile-research-areas .field-item{
  display: inline;
}
.page-people-labs #section-content #people_labs-block,
#user-profile #people_labs-block  {
  background: none repeat scroll 0 0 #DDE8F4;
  margin-right: 22px;
  margin-top: 40px;
  padding: 0 14px;
}
.page-people-labs #section-content #people_labs-block h2.pane-title,
#user-profile #people_labs-block h2.pane-title {
  color: #D66B4B;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0;
  padding: 10px 0 0;
  text-align: center;
}

.page-people-labs #section-content #people_labs-block .pane-content,
#user-profile #people_labs-block .pane-content{
  padding-bottom: 5px;
}
.page-people-labs #section-content #people_labs-block .pane-content p,
#user-profile #people_labs-block .pane-content p {
  color: #333333;
  margin-top: 10px;
}
.page-people-labs #section-content #people_labs-block .pane-content p strong a,
#user-profile #people_labs-block .pane-content p strong a{
  font-weight: bold;
}
.page-people-labs #section-content .grid-9, #people_labs .grid-9,
#user-profile .grid-9, #people_labs .grid-9 {
  width: 670px;
}
.page-people-labs #section-content .grid-3, #people_labs .grid-3,
#user-profile .grid-3, #people_labs .grid-3 {
  width: 250px;
  background: url("../images/sidebar-first-bg.png") no-repeat scroll right 0 transparent;
  min-height: 550px;
}
.page-people-labs #section-content ul.menu,
#user-profile ul.menu {
  margin-top: 10px;
}
.page-people-labs #section-content ul.menu li,
#user-profile ul.menu li {
  float: none;
  height: 36px;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.page-people-labs #section-content ul.menu li a.active,
#user-profile ul.menu li.active a,
#user-profile ul.menu li a.active,
#user-profile ul.menu li.active a{
  background: url("../images/menu-arrow.png") no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  display: block;
  font-size: 13px;
  font-weight: bold;
  line-height: 36px;
  margin: 0;
  padding: 0 0 0 13px;
  text-decoration: none;
  width: 100%;
}
.page-people-labs #section-content h2.pane-title,
#people_labs h2.pane-title,
#user-profile h2.pane-title,
#people_labs h2.pane-title{
  color: #D66B4B;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 26px;
  font-weight: normal;
  padding-left: 13px;
  margin: 0;
}
.page-people-labs #last-name-wrap h2.pane-title,
.page-people-labs #research-wrap h2.pane-title,
.page-people-labs #search-wrap h2.pane-title{
  padding: 0;
  margin: 0px 0px 12px 0px;
  border-bottom: 2px solid #FFF;
  line-height: 34px;
  font-family: Arial,Helvetica,oswald,sans-serif;
}
.page-people-labs #search-wrap h2.pane-title{
  margin: 0px 0px 25px 0px;
}

.page-people-labs .pane-content p{
  margin-bottom: 12px;
}
#last-name-wrap,
#research-wrap,
#search-wrap{
  background-color: #f0f3ea;
  margin-bottom: 20px;
  padding: 25px 35px 25px 38px;
}
#last-name-wrap.pnl-search-result-page,
#research-wrap.pnl-search-result-page,
#search-wrap.pnl-search-result-page{
    padding-left: 10px;
    padding-top: 10px;
}
#search-wrap.pnl-search-result-page .pane-content .form-type-textfield input{
  width: 370px
}
#research-wrap.pnl-search-result-page #harvard-pnl-browse-by-research-area-form {
  width: 450px;
  float: left;
}
#search-wrap.pnl-search-result-page #harvard-pnl-search-people-form {
  width: 450px;
  float: left;
}
#research-wrap.pnl-search-result-page .new-search-link,
#search-wrap.pnl-search-result-page .new-search-link {
 padding-top: 0px;
}
#last-name-wrap .pane-content input.harvard-people-labs-search-abc-button{
  border-radius: 0px;
  box-shadow: 1px 1px #E5E8DF;
  font-weight: normal;
  margin: 0 3px 3px 0;
  width: 37px;
  height: 29px;
}
#last-name-wrap .pane-content a.harvard-people-labs-search-abc-button {
  background: -moz-linear-gradient(center top , #FFFFFF 0%, #DDDDDD 100%) repeat scroll 0 0 transparent;
  background: #ddd url(../images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
  border-color: #DDDDDD #BBBBBB #999999;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  cursor: pointer;
  font: normal 12px/1.2 Arial,sans-serif;
  outline: 0 none;
  /*overflow: visible;*/
  padding: 0px;
  text-shadow: 0 1px 1px #FFFFFF;
  border-radius: 0px;
  box-shadow: 1px 1px #E5E8DF;
  margin: 0 3px 3px 0;
  width: 37px;
  height: 29px;
  display: block;
  float: left;
  text-align: center;
  line-height: 29px;
}

#last-name-wrap .pane-content > input.harvard-people-labs-search-abc-button:hover{
  /*font-weight: bold;*/
  box-shadow: 0 0 2px #000000;
  text-decoration: none !important;
}
#last-name-wrap .pane-content a.harvard-people-labs-search-abc-button{

}

#harvard-pnl-browse-by-research-area-form #edit-submit{
  display: none;
}

#harvard-pnl-browse-by-research-area-form .form-item, #harvard-pnl-browse-by-research-area-form .form-actions {
  margin: 0px;
}

/* SEARCH */

.harvard-pnl-search-abc-button{
  margin: 0 10px 10px 0;
}
.new-search-link{
  float: right;
  padding-top: 10px;
}
#last-name-wrap .pane-content a.harvard-people-labs-search-abc-button.active,
input.harvard-people-labs-search-abc-button.active{
  border-color: transparent;
}

#people_labs h2.pane-title span{
  color: #666666;
}
.pane-harvard-pnl-hpl-search-people .pane-content input.search-people-btn{
  background: url("../images/search-button.png") 0px 0px transparent;
  height: 27px;
  width: 35px;
  border-radius: 0px;
  text-indent: -9999px;
  border: 1px solid #ccc;
}
.pane-harvard-pnl-hpl-search-people .pane-content input {
  height: 27px;
  padding: 0 5px;
  width: 456px;
  margin-right: 0.5em;
}
.pane-harvard-pnl-hpl-search-people .pane-content input,
#user-profile-form .form-item.form-type-select > select.form-select,
#user-profile-form .form-item.form-type-textarea  textarea.form-textarea,
#user-profile-form .form-type-password input,
#user-profile-form .form-type-textfield input,
.page-user-add .form-type-textfield input,
#harvard-custom-add-user-form #edit-user-supervising,
#harvard-custom-add-user-form #edit-user-member-status,
#harvard-custom-add-user-form #edit-user-research-area{
  background-color: #FFFFFF;
  border: 1px solid #AEAEAE;
}
.pane-harvard-pnl-hpl-search-people .pane-content input.error,
#user-profile-form .form-item.form-type-select > select.form-select.error,
#user-profile-form .form-item.form-type-textarea  textarea.form-textarea.error,
#user-profile-form .form-type-password input.error,
#user-profile-form .form-type-textfield input.error,
.page-user-add .form-type-textfield input.error,
#harvard-custom-add-user-form #edit-user-supervising.error,
#harvard-custom-add-user-form #edit-user-member-status.error,
#harvard-custom-add-user-form #edit-user-research-area.error {
  border: 2px solid #FF0000;
}
#harvard-pnl-search-people-form .form-item-search-people{
  float: left;
  margin: 0px;
  padding: 0px;
}

#user-profile-left-menu-block .menu li.first a {
  background: url("../images/menu-arrow.png") no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  display: block;
  font-size: 13px;
  font-weight: bold;
  line-height: 36px;
  margin: 0;
  padding: 0 0 0 13px;
  text-decoration: none;
  width: 100%;
}

#last-name-wrap, #research-wrap, #search-wrap {
  overflow: hidden
}

.pnl-search-count-serults{
  font-weight: bold;
  font-style: italic;
}

#last-name-wrap .pnl-search-options-wrap,
#research-wrap .pnl-search-options-wrap,
#search-wrap .pnl-search-options-wrap {
  position: absolute;
  left: 490px;
  top: 15px;
}

#last-name-wrap.pnl-search-block-hidden .pnl-search-options-wrap,
#research-wrap.pnl-search-block-hidden .pnl-search-options-wrap,
#search-wrap.pnl-search-block-hidden .pnl-search-options-wrap {
  top: 15px;
}

#last-name-wrap.pnl-search-block-hidden,
#research-wrap.pnl-search-block-hidden,
#search-wrap.pnl-search-block-hidden {
  height: 40px;
  padding-bottom: 3px;
  padding-top: 10px;
  padding-left: 10px;
}

.page-people-labs #last-name-wrap.pnl-search-block-hidden h2,
.page-people-labs #research-wrap.pnl-search-block-hidden h2,
.page-people-labs #search-wrap.pnl-search-block-hidden h2 {
  border: 0px;
}

.page-people-labs #research-wrap.pnl-search-filter-block .pnl-search-options-wrap > span,
.page-people-labs #search-wrap.pnl-search-filter-block .pnl-search-options-wrap > span,
.page-people-labs #last-name-wrap.pnl-search-filter-block .pnl-search-options-wrap > span{
  background: url("../images/block_collapse_icon_sprite.png") no-repeat scroll -8px 0 transparent;
  display: block;
  margin: 8px 6px;
  height: 8px;
  width: 8px;
  float: right;
}

.page-people-labs #research-wrap.pnl-search-filter-block.pnl-search-block-hidden .pnl-search-options-wrap > span,
.page-people-labs #search-wrap.pnl-search-filter-block.pnl-search-block-hidden .pnl-search-options-wrap > span,
.page-people-labs #last-name-wrap.pnl-search-filter-block.pnl-search-block-hidden .pnl-search-options-wrap > span{
  background: url("../images/block_collapse_icon_sprite.png") no-repeat scroll 0 0px transparent;
}

.manual-role-filter {
  margin-bottom: 10px;
}
.manual-role-filter span.manual-role-filter-title{
  float: left;
  font-weight: bold;
  margin: 6px 10px 0px 0px;
}

.manual-role-filter #harvard-pnl-search-display-form .edit-search-display{
  float: left;
}

.manual-role-filter #harvard-pnl-search-display-form .form-item-search-display{
  margin-right: 10px;
  float: left;
}
.manual-role-filter #harvard-pnl-search-display-form .form-submit{
  display: none;
}
.pnl-search-count-serults{
  clear: both;
}

/* END People and Labs section */

/* start page add user */

.page-user-add #page-title{
  border-bottom: 2px solid #FFFFFF;
  color: #D66B4B;
  font-size: 26px;
  font-weight: normal;
  font-family: Arial,Helvetica,oswald,sans-serif;
  line-height: 34px;
  margin: 0 0 12px;
}
#user-profile-form,
.page-user-add .region-content-inner{
  background-color: #f0f3ea;
  margin-bottom: 20px;
  padding: 25px 35px 25px 38px;
}
#user-profile-form .form-item.form-type-select > select.form-select{
  width: 300px;
}
#user-profile-form .form-item.form-type-select > select.form-select,
#user-profile-form .form-item.form-type-textarea  textarea.form-textarea{
  padding: 0 5px;
}
#user-profile-form .form-type-password input:disabled,
#user-profile-form .form-type-textfield input:disabled,
#user-profile-form .form-type-textarea .form-textarea-wrapper textarea:disabled,
#user-profile-form .form-item.form-type-select select.form-select:disabled{
  background-color: #BBB;
}
.tabledrag-toggle-weight-wrapper{
  display: none;
}

#user-profile-form .delta-order .form-item.form-type-select > select.form-select{
  width: auto;
}

.confirm-parent, .password-parent {
  width: 600px;
}
#user-profile-form .form-type-password input,
#user-profile-form .form-type-textfield input,
.page-user-add .form-type-textfield input {
  height: 27px;
  padding: 0 5px;
  width: 300px;
}
#user-profile-form fieldset{
  border: medium none;
  margin: 0;
  padding: 0;
}

#user-profile-form fieldset .container-inline-date label {
  display: none;
}
#user-profile-form .container-inline-date .date-padding {
  padding: 0px;
}
#user-profile-form #field-account-website-url-values{
  border: none;
}
#user-profile-form #field-account-website-url-values tr,
#user-profile-form #field-account-website-url-values tr th,
#user-profile-form #field-account-website-url-values tr td{
  background: none;
  border: none;
}
#harvard-custom-add-user-form .form-item-user-role #edit-user-role .form-item{
  float: left;
  margin-left: 10px;
  clear: none;
}
#harvard-custom-add-user-form .form-item{
  clear: both;
}
#harvard-custom-add-user-form #edit-user-supervising,
#harvard-custom-add-user-form #edit-user-member-status,
#harvard-custom-add-user-form #edit-user-research-area{
  width: 300px;
  height: 25px;
}
#harvard-custom-add-user-form #edit-user-research-area{
  height: 150px;
}
#harvard-custom-add-user-form #edit-submit{
  border-radius: 0 0 0 0;
  font-weight: normal;
  height: 35px;
}
/* end page add user */

/* user page */
.edit-profile-link{
  float: right;
  width: 160px;
  padding-right: 10px;
  padding-top: 7px;
  text-align: right;
}
#user-profile .new-search-link{
  padding-top: 0;
}
#user-profile .profile .user-picture{
  float: left;
  margin: 0 1em 1em 0;
}
#user-profile .profile .user-picture img{
  border: 5px solid #E5E5E5;
}

#user-profile .profile .user-name, #user-profile .profile .user-name a{
  color: #d66b4b;
  font-size: 23px;

}
#user-profile .profile .user-name .field-name-field-account-first-name,
#user-profile .profile .user-name .field-name-field-account-middle-initial,
#user-profile .profile .user-name .field-name-field-account-last-name,
#user-profile .profile .user-name .field-name-field-account-academic-degree,
#user-profile .profile .user-name span{
  float: left;
  margin-right: 5px;
}
#user-profile .profile .user-profile-faculty-member {
  padding-top: 25px;
}
#user-profile .profile .user-profile-faculty-member .short-profile .field-name-field-account-first-name,
#user-profile .profile .user-profile-faculty-member .short-profile .field-name-field-account-middle-initial,
#user-profile .profile .user-profile-faculty-member .short-profile .field-name-field-account-last-name{
  clear: none;
  float: left;
  margin-right: 5px;
}
#user-profile .profile .user-name{
  float: left;
  width: 370px;
}
#user-profile .profile.no-picture .user-name,
#user-profile .profile .user-title,
#user-profile .profile .user-institution{
  float: left;
  width: 490px;
}
#user-profile .profile .user-title,
#user-profile .profile .user-institution{
  font-size: 19px;
  font-weight: bold;
}
#user-profile .profile .user-profile-row2{
  padding-top: 20px;
}
#user-profile .profile .user-profile-row2,
#user-profile .profile .user-profile-row2 .field{
  clear: both;
}

#user-profile .profile .user-profile-row2 .user-profile-row2-left .field .field-label,
#user-profile .profile .user-profile-row2 .user-profile-row2-left .field .field-items{
  font-weight: normal;
  float: left;
  color: #666;
}
#user-profile .profile .user-profile-row2 .user-profile-row2-left-wrapper{
  float: left;
  margin-right: 10px;
  width: 350px;
}
#user-profile .profile .user-profile-row2 .user-profile-row2-right{
  float: left;
  width: 310px;
}
#user-profile .profile .user-profile-row2 .user-profile-row2-right .user-profile-websites{
  margin-bottom: 10px;
}
#user-profile .profile .user-profile-row2 .user-profile-row2-right .user-profile-websites .field-label,
#user-profile .profile .user-profile-row2 .user-profile-row2-right .field-name-field-account-research-area .field-label{
  font-weight: bold;
  clear: both;
}
#user-profile .profile .user-profile-row2 .user-profile-row2-right .field-name-field-account-website-url .field-item{
  font-size: 14px;
  font-weight: bold;
}
.field-name-field-account-research-area ul {
  clear: both; list-style: decimal inside none;
}
/* end user page */

/* user search page */

.view-people-and-labs-search .profile-teaser .user-profile-row1 .user-picture{
   margin: 0 1em 1em 0;
   width: 110px;
}
.view-people-and-labs-search .profile-teaser{
  clear: both;
  margin-bottom: 10px;
}
.view-people-and-labs-search .profile-teaser .user-profile-row1,
.view-people-and-labs-search .profile-teaser .user-profile-row2{
  float: left;
}
.view-people-and-labs-search .profile-teaser .user-profile-row1 .user-picture img{
  border: 5px solid #E5E5E5;
}
.view-people-and-labs-search .profile-teaser .user-name{
  color: #19528c;
  font-size: 20px;
  font-weight: bold;
}
.view-people-and-labs-search .profile-teaser .user-profile-row1{
  float: left;
}
.view-people-and-labs-search .profile-teaser .user-profile-row2{
  float: left;
  width: 500px;
}

.view-people-and-labs-search .profile-teaser .user-name,
.view-people-and-labs-search .profile-teaser .user-title,
.view-people-and-labs-search .profile-teaser .user-institution{
  float: left;
  width: 500px;
}

.view-people-and-labs-search .profile-teaser .user-name .field-name-field-account-first-name,
.view-people-and-labs-search .profile-teaser .user-name .field-name-field-account-middle-initial,
.view-people-and-labs-search .profile-teaser .user-name .field-name-field-account-last-name,
.view-people-and-labs-search .profile-teaser .user-name .field-name-field-account-academic-degree,
.view-people-and-labs-search .profile-teaser .user-name span{
  float: left;
  margin-right: 5px;
}
.view-people-and-labs-search .profile-teaser .user-profile-row2 .user-title,
.view-people-and-labs-search .profile-teaser .user-profile-row2 .user-institution,
.page-people-labs span.highlight{
  font-weight: bold;
  color: #000;
}
.view-people-and-labs-search .profile-teaser .user-profile-row2 .user-institution{
  margin-bottom: 10px;
}
.view-people-and-labs-search .user-profile-research-areas .field-name-field-account-research-area .field-label{
  float: left;
}
/* end user search page */

.user-profile-students{
  clear: both;
  padding-top: 25px;
}
.user-profile-students ul{
  list-style: none;
}
.user-profile-students .user-profile-students-label{
  font-weight: bold;
}
html.js #user-profile-form input.form-autocomplete {
  background-position: 100% 6px;
}
html.js #user-profile-form input.throbbing {
  background-position: 100% -15px;
}
.form-item-allow-user.form-type-checkbox .description{
  margin: 0px;
  font-size: 15px;
}

/* Approve dashboard*/
.view-approve-dashboard .views-field-created{
  width: 100px;
}