/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin-ext);*/

h1 {
  font-family : 'Arial';
  font-size:32px;
  font-weight: bold;
  color:#d66b4b;
}

h2 {
  font-family : 'Arial';
  font-size:24px;
  font-weight: bold;
  color:#d66b4b;
  letter-spacing: -0.05em;
}

h3 {
  font-family : 'Arial';
  font-size:20px;
  font-weight: bold;
  color:#d66b4b;
}

h4 {
  font-family : 'Arial';
  font-size:18px;
  font-weight: bold;
  color:#666666;
}

h5 {
  font-family : 'Arial';
  font-size:16px;
  font-weight: bold;
  color:#333333;
}

h6 {
  font-family : 'Arial';
  font-size:15px;
  font-weight: bold;
  color:#333333;
}



body {
  font-family : 'Arial';
  font-size:15px;
  color:#666666;
}

.profile .user-picture {
  float:none;
}

body fieldset {
  border:1px solid #19528C;
  padding:15px;
}

body fieldset legend {
  font-weight:bold;
}

.field .field-label {
  color:#333;
}

a, a:link, a:visited {
  color:#19528C;
  text-decoration:none;
  font-weight:bold;
}

a:hover {
  text-decoration:underline;
}

.site-name-slogan {
  display:none;
}

div.admin .right {
  margin-right:0;
}

.view-empty {
  clear:both;
}

.container-12 .region-sidebar-first.grid-4 {
  width:250px;
}

.container-12 .region-content.grid-8 {
  width:670px;
}

h2.block-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size:26px;
  color:#d66b4b;
  padding-left:13px;
  font-weight:normal;
}

#zone-menu-wrapper .navigation {
  min-width:500px;
}

#page-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size:32px;
  color:#d66b4b;
  font-weight:normal;
}

#zone-menu-wrapper {
  background: url('../images/main-menu-bg.png') repeat-x 0 0 transparent;
  height:38px;
  border-bottom:1px solid #b4b4b4;
}

#superfish-1 li {
  background: url('../images/main-menu-bg.png') repeat-x 0 0 transparent;
  height:38px;
}

#superfish-1 {
  display:table;
  width:100%;
  margin-bottom:20px;
}

.front #superfish-1 {
  margin-bottom:10px;
}

#menu-538-1 > ul {
  min-width:17em;
}

#superfish-1 li.sf-depth-1 a.sf-depth-1 {
  font-size: 14px;
  font-weight:bold;
  text-decoration:none;
  line-height:38px;
  color:#fff;
  display:inline-block;
  margin:0;
  padding:0;
  width:100%;
  border:none;
}

#superfish-1.sf-menu li a, #superfish-1 li {
  border:none;
}

#superfish-1.sf-menu li a {
  color:#fff;
  font-weight: bold;
  text-decoration:none;
}

#superfish-1 li.sf-depth-1 {
  display:block;
  height:38px;
  text-align:center;
  padding:0;
  margin:0;
  background:transparent;
  border:none;
  float:left;
  min-width:165px;
}

#superfish-1 li#menu-221-1 {
  min-width: 119px;
}
#superfish-1 li#menu-536-1 {
  min-width: 166px;
}
#superfish-1 li#menu-537-1 {
  min-width: 127px;
}
#superfish-1 li#menu-538-1 {
  min-width: 209px;
}
#superfish-1 li#menu-539-1 {
  min-width: 110px;
}
#superfish-1 li#menu-954-1 {
  min-width: 207px;
}
#superfish-1 li#menu-954-1.active-trail a {
  margin-top: 2px;
  background: url("../images/hiti-menu-btn.png") no-repeat scroll 0 0 transparent;
}
#superfish-1 li#menu-954-1.active-trail a:after {
  margin-top: 2px;
  background: none;
}


#superfish-1 li a.active,
#superfish-1 li.active-trail a.sf-depth-1,
#superfish-1 li a:hover {
  background: url('../images/main-menu-bg-hover.png') repeat-x 0 0 transparent;
}

#superfish-1 li.sf-depth-1.first a.sf-depth-1:before {
  display:inline-block;
  height:38px;
  width:2px;
  background: url('../images/main-menu-bg-separator.png') no-repeat 0 0 transparent;
  content: " ";
  margin: 0;
  padding: 0;
  float: left;
}

#superfish-1 li.sf-depth-1 a.sf-depth-1:after {
  display:inline-block;
  height:38px;
  width:2px;
  background: url('../images/main-menu-bg-separator.png') no-repeat 0 0 transparent;
  content: " ";
  margin: 0;
  padding: 0;
  float: right;
}

#block-menu-menu-header-menu {
  height:auto;
  margin-left:32px;
}

#block-menu-menu-header-menu ul li a {
  font-weight:bold;
  color:#19528c;
  font-size:13px;
  line-height:43px;
}

#block-menu-menu-header-menu ul li {
  list-style:none;
  display:inline-block;
  text-align:center;
  padding-top:5px;
}

#region-sidebar-first ul.menu {
  margin-top:10px;
}

#region-sidebar-first ul.menu li {
  list-style:none;
/*  height:36px;*/
  margin:0;
  padding:0;
  float:none;
}

#region-sidebar-first ul.menu li a.active,
#region-sidebar-first ul.menu li.active a,
.page-node-add-events #region-sidebar-first ul.menu .suggest-event a,
.page-node-add-announcements #region-sidebar-first ul.menu .suggest-announcements a,
#region-sidebar-first ul.menu li.active-trail ul.menu li a.active {
  color:#fff;
  background:url('../images/menu-arrow.png') no-repeat 0 0 transparent;
}

#region-sidebar-first ul.menu li a {
  font-weight:bold;
  font-size:13px;
  color:#19528c;
  text-decoration:none;
  line-height:36px;
  width:100%;
  display: block;
  padding:0 0 0 13px;
  margin:0;
}

#region-sidebar-first {
  background:url('../images/sidebar-first-bg.png') no-repeat right 0 transparent;
  min-height:550px;
}

#region-sidebar-first .menu.menu-suggest {
  margin-top:0;
}

/* search block */


#google-cse-results {
  max-height: 1400px;
  overflow: hidden;
  clear:both;
}


#block-search-form .form-submit {
  border-radius:0;
  border:1px solid #ccc;
  background:url('../images/search-button.png') no-repeat 0 0 transparent;
  width:37px;
  height:27px;
  text-indent:-9999px;
  padding:0;
}

#block-search-form .form-item-search-block-form.form-type-textfield {
  display:block;
  float:left;
  margin-right:4px;
}

#block-search-form #edit-as-sitesearch, #block-search-form #edit-as-sitesearch--2 {
  display: none;
  float: left;
  width:100%;
}

.page-search-google .block-system-main .form-item-as-sitesearch {
  float:left;
  margin-right:10px;
}

#block-search-form #edit-as-sitesearch .form-item-as-sitesearch, #block-search-form  #edit-as-sitesearch--2 .form-item-as-sitesearch{
  width:48%;
  display:inline-block;
}

#block-search-form .form-type-textfield {
  margin:0;
}

#block-search-form .form-type-textfield input {
  border:1px solid #aeaeae;
  width: 253px;
  height: 27px;
  background-image: none !important;
  background-color: #ccc !important;
  padding:0 5px;
}

#block-search-form .form-type-textfield input:focus {
  background-color: #fff !important;
}

#block-delta-blocks-feed-icons {
  float: left;
  width: 32px;
  height: 30px;
  padding-top: 10px;
}

#zone-footer {
  border-top:1px solid #ccc;
  padding:12px 0 0 0;
  margin-top:5px;
}

#block-block-1 p {
  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
  color:#d66b4b;
  margin-bottom:10px;
}

#block-block-2 p {
  font-size:13px;
  text-align:right;
  margin-bottom:10px;
}

#block-menu-menu-footer-menu ul {
  text-align:right;
  margin-bottom:14px;
}

#block-menu-menu-footer-menu ul li {
  list-style:none;
  display:inline-block;
}

#block-menu-menu-footer-menu ul li a {
  color:#19528c;
  font-size:13px;
  font-weight:normal;
}

.views-field-title a {
  color:#19528c;
  font-size:16px;
  font-weight:bold;
}

#block-views-announcements-block ul.views-summary li a.active,
#block-views-announcements-block ul.views-summary.current-announcements li a,
.page-node-add-announcements #block-views-announcements-block ul.views-summary.add-announcements li a,
.node-type-announcements #block-views-announcements-block ul.views-summary.current-announcements li a.active {
  color:#fff;
  background:url('../images/menu-arrow.png') no-repeat 0 0 transparent;
}

#block-views-announcements-block ul.views-summary {
  margin:0;
}

#block-views-announcements-block ul.views-summary.current-announcements {
  margin-top:10px;
}

.page-announcements-archive #block-views-announcements-block ul.views-summary.current-announcements li a,
.page-node-add-announcements #block-views-announcements-block ul.views-summary.current-announcements li a,
.node-type-announcements #block-views-announcements-block ul.views-summary.current-announcements li a {
  background:transparent;
  color:#19528c;
}

#block-views-announcements-block ul.views-summary li {
  list-style:none;
  height:36px;
  margin:0;
  padding:0;
}

#block-views-announcements-block ul.views-summary li a {
  font-weight:bold;
  font-size:13px;
  color:#19528c;
  text-decoration:none;
  line-height:36px;
  width:100%;
  display: block;
  padding:0 0 0 13px;
  margin:0;
}

.pane-views-events-block-1,
.pane-views-events-block-2,
.pane-views-announcements-block-1 {
  background:#f0f3ea;
  padding: 30px 40px;
  width: 260px;
  margin-left: -42px;
}

.pane-views-announcements-block-1 {
  padding-top:20px;
  padding-bottom:20px;
}

.pane-views-announcements-block-1 .views-row {
  padding-bottom:30px;
}

.pane-views-announcements-block-1 .view-footer p {
  margin-bottom:10px;
}

.pane-views-events-block-1 h2.pane-title,
.pane-views-events-block-2 h2.pane-title,
.pane-views-announcements-block-1 h2.pane-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size:24px;
  font-weight:normal;
  color:#d66b4b;
  border-bottom:1px solid #fff;
  padding-bottom:5px;
  margin-bottom:12px;
}

.pane-views-events-block-1 .month,
.pane-views-events-block-2 .month {
  font-size:16px;
  font-weight:bold;
  width:37px;
  text-align:center;
  text-transform:uppercase;
}

.pane-views-events-block-1 .day,
.pane-views-events-block-2 .day {
  font-size:32px;
  line-height:25px;
  width:37px;
  text-align:center;
}

.pane-views-events-block-1 .views-field-nothing,
.pane-views-events-block-2 .views-field-nothing {
  width:37px;
  float:left;
  margin-right:27px;
}

.pane-views-events-block-1 .views-row,
.pane-views-events-block-2 .views-row {
  clear:both;
  padding-bottom:30px;
  min-height:37px;
}

.pane-views-events-block-1 .view-footer a,
.pane-views-events-block-2 .view-footer a,
.pane-views-announcements-block-1 .view-footer a,
.pane-views-events-block-1 .views-field-title a,
.pane-views-events-block-2 .views-field-title a,
.pane-views-announcements-block-1 .views-field-title a {
  font-weight:bold;
  font-size:13px;
  color:#19528c;
}

.page-translational-immunology .pane-views-events-block-1 .view-footer a,
.page-translational-immunology .pane-views-events-block-2 .view-footer a,
.page-translational-immunology .pane-views-announcements-block-1 .view-footer a,
.page-translational-immunology .pane-views-events-block-1 .views-field-title a,
.page-translational-immunology .pane-views-events-block-2 .views-field-title a,
.page-translational-immunology .pane-views-announcements-block-1 .views-field-title a {
  font-size:14px;
}


.pane-views-events-block-1 .view-footer a,
.pane-views-events-block-2  .view-footer a,
.pane-views-events-block-1 .views-field-title a,
.pane-views-events-block-2 .views-field-title a{
  font-size:12px;
}
.page-translational-immunology .pane-views-events-block-1 .view-footer a,
.page-translational-immunology .pane-views-events-block-2 .view-footer a,
.pane-views-announcements-block-1 .view-footer a,
.pane-views-events-block-1 .views-field-title a,
.pane-views-events-block-2 .views-field-title a,
.pane-views-announcements-block-1 .views-field-title a {
  font-weight:bold;
  font-size:13px;
  color:#19528c;
}
.pane-views-events-block-1 .view-footer a,
.page-translational-immunology .pane-views-events-block-1 .views-field-title a,
.page-translational-immunology .pane-views-events-block-2 .views-field-title a {
  font-size:14px;
}

.pane-views-events-block-1 .view-footer p {
  margin:0;
}

.pane-views-announcements-block-1 .views-field-field-announcements-date {
  font-weight:bold;
  font-size:13px;
}

.pane-views-announcements-block-1 .views-field-field-announcements-subtitle {
  font-size:13px;
  word-wrap: break-word;
}

.view-id-events .views-field-field-events-sponsor-institution {
  font-weight:bold;
}

.view-id-events .views-row {
  padding-bottom:30px;
}

.node-type-events .field-name-title h2,
.node-type-announcements .field-name-title h2,
.page-node-add-announcements .field-name-title h2,
.page-node-add-events .field-name-title h2 {
  font-size:20px;
  font-weight: normal;
  margin-bottom:0px;
  color:#333;
  font-family: Arial;
  letter-spacing: normal;
}

.node-type-events .field-name-field-events-more-info a {
  font-weight:normal;
}

.node-type-announcements .field-name-field-announcements-subtitle {
  font-weight:bold;
  margin: 10px 0;
}

.node-type-announcements .field-name-field-announcement-news-type,
.node-type-announcements .field-name-field-announcement-featured-pers,
.node-type-announcements .field-name-field-announcement-sponsoring-in {
  margin-bottom:10px;
}

.node-type-events .panel-display .field-name-title.field {
  padding-bottom:20px;
}

.node-type-events .panel-display .field {
  padding-bottom:25px;
}

.node-type-events .panel-col-first .inside {
  width:70%;
}

.node-type-events .field-name-view-all-link a {
  color:#19528c;
  font-weight:normal;
}

/* events views */

.node-type-announcements .block-system-main {
  word-wrap: break-word;
}

.page-events .block-system-main .views-exposed-form,
.page-past-events .block-system-main .views-exposed-form,
.page-announcements .block-system-main .views-exposed-form,
.page-announcements-archive .block-system-main .views-exposed-form{
  float:right;
}

.page-events .block-system-main .views-exposed-form label,
.page-past-events .block-system-main .views-exposed-form label,
.page-announcements .block-system-main .views-exposed-form label,
.page-announcements-archive .block-system-main .views-exposed-form label {
  float:left;
  margin-right:10px;
  line-height: 24px;
}

.page-events .block-system-main .views-exposed-form .views-widget,
.page-past-events .block-system-main .views-exposed-form .views-widget,
.page-announcements .block-system-main .views-exposed-form .views-widget,
.page-announcements-archive .block-system-main .views-exposed-form .views-widget {
  float:left;
}

.page-events #page-title,
.page-past-events #page-title,
.page-announcements #page-title,
.page-announcements-archive #page-title{
  margin-bottom:10px;
}

.page-events .block-system-main .view-content,
.page-past-events .block-system-main .view-content,
.page-announcements .block-system-main .view-content,
.page-announcements-archive .block-system-main .view-content {
  clear:both;
  padding-top: 20px;
}

.page-events .block-system-main .views-exposed-form .views-submit-button,
.page-past-events .block-system-main .views-exposed-form .views-submit-button,
.page-announcements .block-system-main .views-exposed-form .views-submit-button,
.page-announcements-archive .block-system-main .views-exposed-form .views-submit-button {
  display:none;
}





.front .panel-col-last {
  width:34%;
}

/*contact us form */
.page-node-7 #webform-component-name, .page-node-7 #webform-component-subject, .page-node-7 #webform-component-topic {
  width:50%;
  float:left;
}

.page-node-7 .block-system-main label {
  color:#000;
}

.page-node-7 #webform-component-name input,
.page-node-7 #webform-component-subject input,
.page-node-7 #webform-component-topic input,
.page-node-7 #webform-component-email input,
.page-node-7 #webform-component-company---institution input {
  width:90%;
}

.page-node-7 #webform-component-email, .page-node-7 #webform-component-company---institution {
  width:50%;
  float:right;
}

.page-node-7 .block-system-main .webform-client-form select {
  width:90%;
}

.page-node-7 .block-system-main #webform-component-comments {
  clear:both;
  padding:10px 0;
}

.page-node-7 .block-system-main #edit-actions {
  clear:both;
}

.page-node-7 .block-system-main #webform-client-form-7 #edit-actions #edit-submit {
  border:none;
  background: #326ba5;
  width:100px;
  height:37px;
  line-height:37px;
  font-size:13px;
  font-weight:bold;
  color:#fff;
  border-radius:0;
  text-shadow:none;
  padding:0;
}

.page-node-7 .webform-client-form textarea {
  width:95%;
}

.page-node-7 .webform-client-form select,
.page-node-7 .webform-client-form input,
.page-node-7 .webform-client-form textarea {
  border: 1px solid #809db9;
}

.block-node-syndicate {
  width: 22px;
  float: left;
  padding-top: 11px;
}

/* home page */

.view-home-page-carousel   {
  width:100%;
  min-height:370px;
  position:relative;
}

.front .omega-12-threecol-4-4-4 .grid-4 + .grid-4 {
  margin-top: 438px;
}

.front .omega-12-threecol-4-4-4 .grid-4 .pane-title {
  color:#d66b4b;
  font-size:26px;
  font-weight:normal;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom:8px;
}

.front #block-system-main .omega-12-threecol-4-4-4 .grid-4 + .grid-4 + .grid-4 {
  margin-top:0;
}

.view-home-page-carousel {
  background:url('../images/carousel-footer-bg.png') no-repeat center bottom transparent;
  padding-bottom:25px;
  margin-bottom:20px;
}

.view-home-page-carousel .widget_pager_bottom {
  float:right;
}

.view-home-page-carousel .views-field-title a {
  color:#548cc6;
  font-size:26px;
  font-weight:normal;
  line-height: 1.2em;
}

.view-home-page-carousel .views-field-title {
  margin-top:10px;
  margin-right:10px;
}

.view-home-page-carousel .views-slideshow-controls-bottom {
  position: absolute;
  top:305px;
  left:0px;
  z-index:1000;
  width:596px;
}

.view-home-page-carousel .widget_pager_bottom .views-slideshow-pager-field-item:hover {
  cursor:pointer;
}

.view-home-page-carousel .widget_pager_bottom .views-slideshow-pager-field-item {
  background:url('../images/carousel-pager.png') no-repeat 0 0 transparent;
  width:9px;
  height:9px;
  text-indent: -9999px;
  float:left;
  margin-right:6px;
}

.view-home-page-carousel .widget_pager_bottom .views-slideshow-pager-field-item.active {
  background:url('../images/carousel-pager-active.png') no-repeat 0 0 transparent;
}

.view-home-page-carousel .views-field-field-slide-subtitle-1 {
  margin-right:10px;
}

.view-home-page-carousel .views-field-field-slide-subtitle-1 a {
  font-weight:bold;
}

.view-id-home_page_blocks.view-display-id-block .views-field-title a,
.view-id-home_page_blocks.view-display-id-block_1 .views-field-title a,
.view-id-home_page_blocks.view-display-id-block_2 .views-field-title a,
.view-id-home_page_blocks.view-display-id-block_1 .view-footer a{
  font-size:13px;
  font-weight:bold;
}

.view-id-home_page_blocks.view-display-id-block,
.view-id-home_page_blocks.view-display-id-block_1 {
  min-height:210px;
}

.view-id-home_page_blocks.view-display-id-block_1 .views-field-title {
  width: 63%;
  display: block;
  float: left;
  margin-top:-4px;
}

.view-id-home_page_blocks.view-display-id-block_1 .views-field-title a {
  line-height: 19px;
  display: inline-block;
}

.view-id-home_page_blocks.view-display-id-block_1 .view-footer a {
  display:block;
  line-height:17px;
}

.view-id-home_page_blocks.view-display-id-block_2,
.view-id-home_page_blocks.view-display-id-block_3 {
  min-height:190px;
}

.view-id-home_page_blocks.view-display-id-block .views-field-title,
.view-id-home_page_blocks.view-display-id-block_2 .views-field-title {
  padding:3px 0;
}

.view-id-home_page_blocks.view-display-id-block .views-field-body,
.view-id-home_page_blocks.view-display-id-block_2 .views-field-body {
  font-size:13px;
}

.view-id-home_page_blocks.view-display-id-block_1 .views-row,
.view-id-home_page_blocks.view-display-id-block_1 .view-footer {
  clear:both;
}

.view-id-home_page_blocks.view-display-id-block_1 {
  padding-right:30px;
}

.view-id-home_page_blocks.view-display-id-block_1 .views-row img {
  float:left;
  margin-right:13px;
  margin-bottom:10px;
}

.view-id-home_page_blocks.view-display-id-block_3 ul li a {
  font-size:13px;
}

.view-id-home_page_blocks.view-display-id-block_3 ul li {
  background: url('../images/dot-list-marker.png') no-repeat left center transparent;
  margin-left: 3px;
  padding-left: 12px;
  margin-bottom: 12px;
}

.view-id-home_page_blocks.view-display-id-block_2 .views-field-title a {
  font-size:16px;
  font-weight:normal;
}

.pane-webform-client-block-864 {
  width: 260px;
  margin-left: -42px;
  background:#dde8f4;
  padding:10px 40px;
  margin-top:12px;
}

.block-webform-client-block-864 {
  background:#dde8f4;
  padding: 0 14px;
  margin-right: 22px;
  margin-top:70px;
}

.block-webform-client-block-864 .node-title {
  display:none;
}

.block-webform-client-block-864 .field-name-body p {
  color:#333;
  margin-top:10px;
}

.context-contact-us .block-webform-client-block-864 {
  margin-top:10px;
}

.block-webform-client-block-864 h2.block-title {
  padding: 10px 0 0 0;
  font-weight:normal;
  font-size:20px;
  text-align:center;
  letter-spacing: 0;
}

.block-webform-client-block-864 .form-actions.form-wrapper {
  text-align:center;
  margin:9px 0;
}

.block-webform-client-block-864 .webform-component-email input {
  width:200px;
  margin:0 auto;
  color:#999;
  border:none;
}

.block-webform-client-block-864 .webform-component-email {
  margin-top:0px;
  margin-bottom:0;
}

.pane-webform-client-block-864 .webform-component-email input{
  width: 190px;
  float:left;
  height:26px;
  border: 1px solid #18548E;
  color:#999;
}

.page-node-864 .webform-component-email input {
  border: 1px solid #18548E;
}

.pane-webform-client-block-864 .form-actions input,
.block-webform-client-block-864 .form-actions input,
.page-node-864 .form-actions input {
  border-radius: 0;
  color: #fff;
  text-shadow: none;
  background: #1B548E;
  padding: 4px 10px;
  border: none;
  margin-top:0px;
  margin-bottom:0;
  height:26px;
}

.page-node-864 .form-actions input {
  margin-top:0;
}

.page-node-864 .webform-client-form input {
  float:left;
  margin-bottom:50px;
  height:24px;
}

.pane-webform-client-block-864 .node-title {
  display:none;
}

.pane-webform-client-block-864 p {
  color:#333;
}

#block-block-4,
#block-block-3 {
  background:#DDE8F4;
  padding: 0 11px;
  margin-right: 22px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#block-block-4 h2,
#block-block-3 h2 {
  padding-top:10px;
  padding-left:0;
  font-size:20px;
  text-align: center;
  letter-spacing: -0.05em;
}

#block-block-3 h2 {
  margin-left:-4px;
}

#block-block-4 .text,
#block-block-3 .text {
  margin:20px 0;
  font-size:14px;
}

#block-block-4 p,
#block-block-3 p {
  margin:0;
  color:#333;
}

#block-block-4 a,
#block-block-3 a {
  margin-bottom:20px;
  display:block;
  font-weight:bold;
}

/* pager */


.item-list ul.pager {
  background:none;
  border:none;
  border-radius:0;
  text-align:center;
  border-top:1px solid #ccc;
  padding-top:10px;
  margin: 50px 0 70px 0;
}

ul.pager li {
  border-radius:0;
  border:none;
  background:transparent;
}

ul.pager li a {
  border:none;
  border-radius:0;
  background:transparent;
}

ul.pager li.pager-first a,
ul.pager li.pager-previous a,
ul.pager li.pager-next a,
ul.pager li.pager-last a,
ul.pager li a,
ul.pager li.pager-current,
ul.pager li.pager-ellipsis{
  width:auto;
  color:#19528c;
  font-size:12px;
  font-weight:normal;
  font-family: 'Arial';
  background:none;
  border-left:1px solid #19528c;
  padding-top:0;
  padding-bottom:0;
}

ul.pager li.pager-first a,
ul.pager li.pager-previous a {
  border:none;
}

ul.pager li.pager-first a {
  padding-right:8px;
}
ul.pager li.pager-last a {
  padding-left:8px;
}

ul.pager li.pager-current {
  font-weight:bold;
  color:#000;
  margin-bottom:10px;
}

ul.pager li.pager-current.first {
  border:none;
}

ul.pager li.pager-last, .pager li.pager-next.last {
  position:static;
}

ul.pager li.pager-next {
  position: absolute;
  top: 10px;
  right: 0px;
  border:none;
}

ul.pager li.pager-next a {
  padding-left:8px;
}

ul.pager li.pager-previous {
  position: absolute;
  top: 10px;
  right: 82px;
}


/* workbench */
.page-admin-workbench a {
  font-size:13px;
}

ul.tabs a {
  font-size:13px;
}

.page-node-add-events .node-preview .node-title a,
.page-node-add-announcements .node-preview .node-title a,
.page-node-edit.node-type-events .node-preview .node-title a,
.page-node-edit.node-type-announcements .node-preview .node-title a {
  color: #19528C;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display:block;
}

.page-node-add-events .node-preview .field-name-field-events-date,
.page-node-edit.node-type-events .node-preview .field-name-field-events-date {
  margin-bottom:15px;
}

.page-node-add-events .node-preview .user-picture,
.page-node-add-announcements .node-preview .user-picture,
.page-node-edit.node-type-events .node-preview .user-picture,
.page-node-edit.node-type-announcements .node-preview .user-picture {
  display:none;
}

.page-node-add-events .node-preview .submitted,
.page-node-add-announcements .node-preview .submitted,
.page-node-edit.node-type-events .node-preview .submitted,
.page-node-edit.node-type-announcements .node-preview .submitted {
  display:none;
}

.page-node-add-events .preview h3,
.page-node-add-announcements .preview h3,
.page-node-edit.node-type-events .preview h3,
.page-node-edit.node-type-announcements .preview h3 {
  clear:both;
}

.page-node-add-events .node-preview .field-name-field-events-sponsor-institution,
.page-node-edit.node-type-events .node-preview .field-name-field-events-sponsor-institution {
  font-weight:bold;
}

.page-node-add-events .node-preview .links,
.page-node-add-announcements .node-preview .links,
.page-node-edit.node-type-events .node-preview .links,
.page-node-edit.node-type-announcements .node-preview .links{
  display:none;
}

.page-node-add-announcements .preview .omega-16-threecol-5-6-5 h2,
.page-node-edit.node-type-announcements .preview .omega-16-threecol-5-6-5 h2 {
  color: #19528C;
  font-size: 16px;
  font-weight: bold;
}

.page-node-add-announcements .preview .panel-panel.grid-16,
.page-node-edit.node-type-announcements .preview .panel-panel.grid-16,
.page-node-add-announcements .preview .panel-panel.grid-5,
.page-node-edit.node-type-announcements .preview .panel-panel.grid-5 {
  margin-left:0;
}

div.admin.my-workbench .left {
    margin-left: 0;
    width: 15%;
}

div.admin.my-workbench .right {
    width: 82%;
}

.page-announcements-archive .view-announcements .views-row,
.page-announcements .view-announcements .views-row {
  margin-bottom:30px;
}

.page-admin-workbench-content .view-id-workbench_edited.view-display-id-page_1 .views-field-title {
  max-width:300px;
}

.page-node-moderation .published-revision {
  background:#dfd;
}

.page-node-moderation .unpublished-revision {
  background:#fdd;
}

.page-node-moderation .revision td {
  background:transparent;
}

.page-admin-workbench-drafts .views-field-moderation-actions {
  min-width:100px;
}

.form-item-field-events-location-und-0-value span.cke_wrapper,
.form-item-field-events-location-und-0-value table.cke_editor,
.form-item-field-events-location-und-0-value td.cke_contents,
.form-item-field-events-location-und-0-value span .cke_skin_kama,
.form-item-field-events-location-und-0-value span.cke_wrapper,
.form-item-field-events-location-und-0-value span.cke_browser_webkit,
.form-item-field-events-contact-info-und-0-value span.cke_wrapper,
.form-item-field-events-contact-info-und-0-value table.cke_editor,
.form-item-field-events-contact-info-und-0-value td.cke_contents,
.form-item-field-events-contact-info-und-0-value span .cke_skin_kama,
.form-item-field-events-contact-info-und-0-value span.cke_wrapper,
.form-item-field-events-contact-info-und-0-value span.cke_browser_webkit{
    height: 100% !important;
}

.node-type-events .field-name-field-events-location p,
.node-type-events .field-name-field-events-contact-info p,
.node-type-events .field-name-body p,
.node-type-announcements .field-name-body p{
  font-size:1em !important;
  line-height: 1.5 !important;
  font-family: Arial !important;
}


.page-node-979 #page-title,
.page-node-1203 #page-title,
.page-node-1192 #page-title,
.page-node-1037 #page-title,
.page-node-1202 #page-title,
.page-node-1296 #page-title,
.page-node-1275 #page-title,
.page-node-1276 #page-title
{
  display:none;
}

/*----------------------- Translational Immunology styles -----------------*/

.page-node-1297 #page-title,
.page-node-1301 #page-title,
.page-node-1303 #page-title {
  display:none;
}

.page-translational-immunology .pane-views-events-block-2,
.page-translational-immunology .pane-views-events-block-1 {
  padding-top: 0;
}
.page-translational-immunology .pane-views-events-block-2,
.page-translational-immunology .pane-views-events-block-1,
.page-translational-immunology .pane-views-announcements-block-1 {
  min-height: 180px;
  background: none;
  margin-left: 0;
  border-left: dotted 1px #aaaaaa;
  padding-left: 35px;
}

.page-translational-immunology .panel-pane.pane-custom.pane-1 {
  font-size: 1px;
  height: 1px;
  border-bottom: dotted 1px #aaaaaa;
}

.page-translational-immunology .pane-node {
  padding: 0px 40px 0 0;
}

.page-translational-immunology .pane-block-7 {
  padding: 20px 40px 0 0;
}
.page-translational-immunology .pane-block-7 h2 {
  margin-bottom: 0px;
  padding-bottom: 5px;
  font-weight: normal;
}

.page-translational-immunology .pane-node h2.pane-title {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: normal;
}
.page-translational-immunology .pane-block-5 h2.pane-title,
.page-translational-immunology .pane-block-6 h2.pane-title {
  color: #1a528b;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}
.page-translational-immunology .pane-views-events-block-2 h2.pane-title,
.page-translational-immunology .pane-views-events-block-1 h2.pane-title,
.page-translational-immunology .pane-views-announcements-block-1 h2.pane-title {
  font-size: 30px;
  font-weight: normal;
}
.page-translational-immunology .pane-views-announcements-block-1 h2.pane-title {
  margin-bottom: 0;
}
.page-translational-immunology .pane-2 h1 {
  color: #1a528b;
/*  font-family: oswald;*/
  font-size: 36px;
  font-weight: normal;
}

.page-translational-immunology .pane-node .node-article.node-teaser div.user-picture,
.page-translational-immunology .pane-node .node-article.node-teaser div.submitted {
  display: none;
}
.page-translational-immunology .pane-node .node-page.node-teaser .links.node-links a,
.page-translational-immunology .pane-node .node-article.node-teaser .links.node-links a {
  background: none;
  border: none;
  text-transform: none;
  color: #18538b;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 14px;
}
.page-translational-immunology .pane-node .node-article.node-teaser .links.node-links a:hover {
  text-decoration: underline;
}

.page-translational-immunology .pane-block-5,
.page-translational-immunology .pane-block-6 {
  padding: 20px 40px 0 0;
}

.page-translational-immunology .pane-block-5 {
  padding-top: 0px;
}

.page-translational-immunology .region-content {
  margin-top: -10px;
}


div#block-menu-menu-hiti-menu {

}
div#block-menu-block-1 ul {
  list-style: none;
  float: right;
  margin-top: -19px;
  height: 46px;
  margin-right: 3px;
  background: url(../images/hiti-menu-bg.png) 0 0 repeat-x;
  position: relative;
}
div#block-menu-block-1 ul li {
  list-style: none;
  display: block;
  float:left;
  margin: 0;
  padding: 0 2px;
  background: url(../images/hiti-menu-spacer.png) 0 16px no-repeat;
  text-align: center;
}
div#block-menu-block-1 ul li.first {
  background: none;
}
div#block-menu-block-1 ul li a {
  display: block;
  line-height: 46px;
  height: 45px;
  color: #fff;
  text-shadow: 2px 2px 0px #d45a42;
  background: none;
  padding: 0 25px;
}
div#block-menu-block-1 ul li ul {
  display: none;
  visibility: hidden;
}
div#block-menu-block-1 ul li a:hover,
div#block-menu-block-1 ul li a.active,
div#block-menu-block-1 ul li.active-trail a {
  background: url(../images/menu-hover-bg.png) 0 1px repeat-x;
}
/*div#block-menu-block-1 ul li.first a {
  background: none;
  padding-left: 70px;
}*/
.zone-header-wrapper {
  position: relative;
  margin-bottom: 30px;
}
.zone-header-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 46px;
  background: url(../images/hiti-menu-bg.png) 0 0 repeat-x;
}

li#menu-954-1 ul {
  display: none !important;
}

.page-translational-immunology .pane-views-announcements-block-2 {
  padding-bottom: 0px;
  min-height: 355px;
}

.page-translational-immunology .pane-views-events-block-2 .view-footer a {
  font-size: 14px;
}
.context-translational-immunology #region-preface-first {
  width: 681px;
}

#region-sidebar-first ul.menu li.active-trail ul.menu li a {
  background: none;
  color: #19528C;
  padding-left: 26px;
}
#region-sidebar-first ul.menu li ul {
  margin-top: 0px;
}
img#logo { margin-bottom: 19px;}


.front #block-system-main .omega-12-threecol-4-4-4 .panel-panel .inside {
  width:600px;
}

.front .pane-views-home-page-blocks-block,
.front .pane-views-home-page-blocks-block-1,
.front .pane-views-home-page-blocks-block-2,
.front .pane-views-home-page-blocks-block-3 {
  width:300px;
}

.front .pane-views-home-page-blocks-block,
.front .pane-views-home-page-blocks-block-2 {
  float:left;
}

.front .pane-views-home-page-blocks-block-1,
.front .pane-views-home-page-blocks-block-3 {
  float:right;
}

#views_slideshow_cycle_main_home_page_carousel-block {
  position:relative;
}

#views_slideshow_cycle_div_home_page_carousel-block_2 {
  background:#fff;
}

.views-field-field-slide-subtitle-1 .field-content,
.view-home-page-carousel .views-field-title a {
  background-color:#fff;
}

.views-field-field-slide-subtitle-1 .field-content {
  width:98%;
}

.front #block-system-main .omega-12-threecol-4-4-4 .grid-4 + .grid-4 + .grid-4 .inside {
  width:100%;
}