#sortable1,
#sortable2 {
  background: none repeat scroll 0 0 #eeeeee;
  clear: none;
  float: left;
  height: 400px;
  list-style-type: none;
  margin: 0 10px 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 0 2.5em;
  width: 250px;
}
#sortable2.error {
  border: 2px red solid;
}
.sortable-lists .error-message {
  color: #ff0000;
}
#sortable1 li,
#sortable2 li {
  cursor: pointer;
  margin: 0 5px 5px 5px;
  padding: 5px;
  width: 220px;
}
#sortable1 li.ui-sortable-helper,
#sortable2 li.ui-sortable-helper {
  cursor: move;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background-image: none;
}
